<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zkyc.arms">

    <!-- Glide、x5Web、高德地图、定位 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Glide、x5Web、高德地图、定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- x5Web、高德地图、定位 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- x5Web、高德地图、定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- x5Web、高德地图、定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 高德地图、定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application>

        <!-- 网页 -->
        <activity
            android:name=".feature.WebActivity"
            android:screenOrientation="portrait" />

        <!-- 二维码扫描 -->
        <activity
            android:name=".feature.QRCodeScanActivity"
            android:label="@string/qr_code_scan"
            android:screenOrientation="portrait" />

        <!-- 图片预览 -->
        <activity
            android:name=".feature.PicturePreviewActivity"
            android:label="@string/picture_preview" />

        <!--  ****************** IllegalStateException修复 START  ******************  -->

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:ignore="ExportedContentProvider"
            tools:node="remove" />

        <!--  ****************** IllegalStateException修复 END  ******************  -->

        <!-- x5内核冷启动优化服务 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <!-- 高德定位服务 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>
</manifest>